*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gray-color-1: #707070;
  --color-white: white;
  --blue-color-1: #5acee8;
  --white-color-2: #d7dae0;
  --gray-color-2: #8c96a3;
  --orange-color-1: #ffcc01;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--gray-color-1);
  background: var(--blue-color-1);
  font-weight: 400;
}

a {
  text-decoration: none;
}
